
<body>
   
    <div class="wrapLogin">
        <div class="contentLogeo">
            
            <div class="LoginForm">
                <h1>LOGIN</h1>
                <div class="contentInput">
                    <label class="labelInput">
                        <span>USUARIO</span>
                        <input type="text" class="input"
                               name="userInput" id="userInput" placeholder="Usuario" autocomplete="off">
                    </label>
                </div>
                <div class="contentInput">
                    <label class="labelInput">
                        <span>CONTRASEÑA</span>
                        <input type="password" class="input"
                                name="claveInput" id="claveInput" placeholder="Contraseña" autocomplete="off">
                    </label>
                </div>
                              
                <div (click)='a()' class="contentBtnEnter">
                    <button>INGRESAR</button>
                </div>
               
            </div>
           
        </div>
    </div>
 
</body>
