.container-footer{
    width: 100%;
   border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 45em;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid #c0b6b6;
}