<div class="container-main">
    <div class="container-left">
        <div class="buscador">
            <div class="inputText">
                <input type="text" placeholder="Buscador...">
            </div>
        </div>
        <div class="categorias">
            <div class="cat">
                <span> CLÁSICOS</span>
            </div>
            <div class="cat">
                <span> ESPECIALES</span>
            </div>
            <div class="cat">
                <span> C.PERSONALES</span>
            </div>
            <div class="cat">
                <span> C.FAMILIARES</span>
            </div>
            <div class="cat">
                <span> CREMAS</span>
            </div>
            <div class="cat">
                <span> GASEOSAS</span>
            </div>
            <div class="cat">
                <span> EXTRAS</span>
            </div>
        </div>
        <div class="productos">
            <div class="cajaProduct">
                <div class="nombreP">
                    <span>Maki Acevichado</span>
                </div>
                <div class="imagenP">
                    <img class="img" src="../../../../assets/makis/makiPrueba.png">
                </div>
                <div class="ojoContent">
                    <button type="button">
                        <img class="img" src="../../../../assets/icons/ojo.png">
                    </button>
                </div>
                <div class="precioButton">
                    <div class="precioP">
                        <span>s/19.90</span>
                    </div>
                    <div class="buttonAñadir">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="cajaProduct">
                <div class="nombreP">
                    <span>Maki Acevichado</span>
                </div>
                <div class="imagenP">
                    <img class="img" src="../../../../assets/makis/makiPrueba.png">
                </div>
                <div class="ojoContent">
                    <button type="button">
                        <img class="img" src="../../../../assets/icons/ojo.png">
                    </button>
                </div>
                <div class="precioButton">
                    <div class="precioP">
                        <span>s/19.90</span>
                    </div>
                    <div class="buttonAñadir">
                        <button type="button">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="container-right">
        <div class=" pedido">
            <div class="title">
                <span>NUEVO PEDIDO</span>
            </div>
            <div class="cola-productos">
                <div class="cola">
                    <div class="cola-left">
                        <div class="boxTop">
                            <div>
                                <input type="text">
                            </div>
                            <div>
                                <span>MAKI ACEVICHADO</span>
                            </div>
                        </div>
                        <div class="boxBottom">
                            <div class="box-">
                                <button>-</button>
                            </div>
                            <div class="boxCantidad">
                                <input type="number">
                            </div>
                            <div class="box+">
                                <button>+</button>
                            </div>
                        </div>
                    </div>
                    <div class="cola-right">
                        <div class="boxTop">
                            <button> <img class="img" src="../../../../assets/icons/eliminar.png"></button>
                            <div class="btnEditar">
                                <span>EDITAR</span>
                            </div>
                        </div>
                        <div class="boxBottom">
                            <span>19.90</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="datos-venta">
                <div class="datos">
                    <div class="datos-left">
                        <div class="boxTop">
                            <div>
                                <span>Nombre del cliente:</span><span>Juan</span>
                            </div>
                        </div>
                        <div class="boxBottom">   
                                <button><img class="img" src="../../../../assets/icons/escoba.png"></button>
                        </div>
                    </div>

                    <div class="datos-right">
                        <div class="box">
                            <div class="subtotal">
                                <span class="textspan">SUBTOTAL:</span><span>77.90</span>
                            </div>
                            <div class="descuento">
                                <span class="textspan">DESCUENTO:</span><span>0</span>
                            </div>
                            <div class="total">
                                <span class="textspan">TOTAL:</span><span>77.90</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cobro">
                <button><img></button>
            </div>
        </div>
    </div>
</div>